html.no-js

head
    title Smart Parking
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css")
    script(src="/socket.io/socket.io.js")
    script(type="text/javascript", src="https://code.jquery.com/jquery-2.2.4.min.js")
    link(rel="stylesheet", href="public/styles/main.css")

body
    p
        Hello world! This is HTML5 Boilerplate.
    - 
        var socket = io.connect('http://localhost:3000');
        socket.on('SlotChange', function(data) {
        	$("p").append(data);
        });