html

head
	title Smart Parking
	script(src="/socket.io/socket.io.js")
	
body Hello world! This is HTML5 Boilerplate.
	p data will show here
	script.
		var socket = io.connect('');
		socket.on('SlotChange', function(data) {
			document.getElementsByTagName("p")[0].innerHTML += data;
		});
