html

head
	title Smart Parking
	script(src="/socket.io/socket.io.js")
	script(src="https://code.jquery.com/jquery-2.2.4.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js")
	link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css", rel="stylesheet")
	link(href="styles/main.css", rel="stylesheet")
	
body
	div.row
		div.col.s3.m3
		div.col.s6.m6 
			h1.center Parking Lot
		div.col.s3.m3
	div.row
		div.col.s4.m4
		div.col.s2.m2
			span#filled
		div.col.s2.m2
			span#vacant 
		div.col.s4.m4
	div.container.parkingLot
		div.row
			div.col.s1.m1
			- for (var ch in data)
				div.col.s1.m1
					div.card
						div.card-content
							span(id=ch).card-title.center #{ch}
							if data[ch]
								p.status.center Filled
							else
								p.status.center Vacant


	script.
		function UpdateSlot(data){
			var target = "#_"+data.channel+"+p";
			if(data.value) {
				$(target).text("Filled");filled++;vacant--;
				$(target).parent().parent().css("background", "Red");
			}
			else {
				$(target).text("Vacant");vacant++;filled--;
				$(target).parent().parent().css("background", "Green");
			}
			$("span#filled").text("Filled : "+filled);
			$("span#vacant").text("Vacant : "+vacant);
		}
		var filled = 0; var vacant = 0;
		$(document).ready(function(){
			$("p.status").each(function(i) {
				if($(this).text() === "Vacant") {
					$(this).parent().parent().css("background", "Green"); vacant++;}
				else {
					$(this).parent().parent().css("background", "Red"); filled++;}
			});
			$("span.card-title").each(function() {
				var _ch = $(this).text();
				$(this).text("Slot #"+_ch.substr(1,2));
			});
			$("span#filled").text("Filled : "+filled);
			$("span#vacant").text("Vacant : "+vacant);

		});	
		var socket = io.connect('');
		socket.on('SlotChange', function(data) {
			UpdateSlot(data);
		});